  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <title> Three Card Poker </title>
      
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../css/materialize/css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" type="text/css" href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection">

  </head>

    <body>
    <!-- This is the users/sign-in, users/new, and users/sign-out handlebars format from the example. -->
    <p>
      Top Nav:
      {{#unless logged_in}}
        <a href="/users/sign-in">Sign In</a>
        <a href="/users/new">Sign Up</a>
      {{/unless}}

      {{#if logged_in}}
        <a href="/users/sign-out">Sign Out</a>
      {{/if}}
    </p>

      <!-- navbar -->
      <nav class="light-blue lighten-2" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo thin"><img src="../images/smallcards.png"> Three Card Poker </a>
          <ul class="right hide-on-med-and-down">

          <li>
            <a href="/home"><i class="material-icons right">home</i></a>
          </li>
          <li>
            <a href="/info"><i class="material-icons right">info</i></a>
          </li>
        </ul>

        {{!-- for mobile use only --}}
          <ul id="nav-mobile" class="side-nav">
            <li>
              <a href="/home"><i class="material-icons right">home</i></a>
            </li>
            <li>
              <a href="/info"><i class="material-icons right">info</i></a>
            </li>
          </ul>
        </div>
      </nav>


      {{{body}}}

      <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../css/materialize/js/materialize.min.js"></script>

    <script type="text/javascript">
      //for accordian table
      $(document).ready(function(){
        $('.collapsible').collapsible({
          accordion : false 
        });
      });
    </script>
  </body>
</html>