<br>
<br>
<div class="container">
  <div class="row center">
    <div class=" col s8 offset-s2">
      <div class="collection">

        {{#unless logged_in}}
          <a href="/user/sign-in" class="collection-item center"> Sign in </a>
          <a href="/user/new" class="collection-item center"> Sign up </a>
        {{/unless}}

        {{#if logged_in}}
          <a href="/game/game">Play Game! </a>
          <a href="/user/sign-out" class="collection-item center"> Sign out </a>
        {{/if}}

      </div>
    </div>
  </div>
</div>