<!-- create a new user -->

<br>
  <div class="row center-align">
  <div class="row center-align">
    <h3 class="thin">
    Create an account to start playing!
    </h3>
  </div>
    <br>
    <form class="col s12" action="/user/create" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input id="uname" type="text" class="validate" name="username">
          <label for="uname">Username: </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="uphoto" type="text" class="validate" name="photo">
          <label for="uphoto">User Photo (URL): </label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="em" type="text" class="validate" name="email">
          <label for="em">E-mail: </label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="pass" type="password" class="validate" name="password">
          <label for="pass">Password: </label>
        </div>
      </div>

      <button class="btn waves-effect waves-light green lighten-2" type="submit" name="action">Submit
        <i class="material-icons right green lighten-2">send</i>
      </button>

    </form>
  </div>
