
<p>Your antebet is: {{this.bet}}</p>

<form action = '/playdecision' method = 'post'>
  <input type="hidden" name="antebet" value="{{this.bet}}">
  <input type="radio" name="decision" value="fold"> Fold<br>
  <input type="radio" name="decision" value="bet" checked> Bet<br>
  <button type = 'submit'>Choose</button>
</form> 