<h1>Welcome to Three Card Poker</h1>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<form id='ante' action = '/antebets' method="POST">

         <input type="text" name="antebet" id="ant">
         <button type="submit">Add Ante bet</button>
</form>

<div id='abet'></div>
<script>


// $('#ante').submit(function() {
// 	var antebet = parseInt($('#ant').val());

// 	if (antebet >= 5) {
// 		$('#ante').html('you can play with antebet '+antebet);
// 		return true;
// 	} else {
// 		return false;
// 	}


// });

</script>