<p>Player's hand</p>
<br>
<div>
	{{#each playerHand}}
		<img src='/assets/cardimages/{{this.img}}'>
	{{/each}}
</div>
<br>
<p> Dealer's Hand</p>
<div>
	{{#each dealerHand}}
		<img src='/assets/cardimages/{{this.img}}'>
	{{/each}}
</div>
<p>Current Money: {{play_money}}</p>